{
    "presets": [
        "@babel/preset-env"
        // ["env", {
        //     "targets": {
        //         "browsers": [
        //             "last 5 versions",
        //             "ie >= 8"
        //         ]
        //     }
        // }]
    ]
}